<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="practice3/common/head :: head_fragment(title = 'ユーザー一括編集', scripts = ~{::script}, links = ~{::link})"></head>

<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>ユーザー一括編集</h1>
    <form th:action="@{/user/listUpdate}" th:object="${userListUpdateRequestDto}" th:method="post">
      <div  class="text-end">
        <input type="submit" class="btn btn-primary" value="　更新　">
      </div><br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>住所</th>
            <th>電話番号</th>
<!--             <th>更新日時</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user, st : *{userDataList}" class="align-middle">
            <td>
              <label th:text="${user.id}"></label>
              <input type="hidden" th:field="*{userDataList[__${st.index}__].id}">
            </td>
            <td>
              <input type="text" class="form-control" th:field="*{userDataList[__${st.index}__].name}">
            </td>
            <td>
              <input type="text" class="form-control" th:field="*{userDataList[__${st.index}__].address}">
            </td>
            <td>
              <input type="text" class="form-control" th:field="*{userDataList[__${st.index}__].phone}">
            </td>
            <td>
<!--               <label th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd')}"></label> -->
<!--               <input type="hidden" th:field="*{userDataList[__${st.index}__].updateDate}"> -->
<!--             </td> -->
<!--             <td> -->
<!--               <label th:text="${#dates.format(user.createDate, 'yyyy/MM/dd')}"></label> -->
<!--               <input type="hidden" th:field="*{userDataList[__${st.index}__].createDate}"> -->
<!--             </td> -->
<!--             <td> -->
<!--               <label th:text="${#dates.format(user.deleteDate, 'yyyy/MM/dd')}"></label> -->
<!--               <input type="hidden" th:field="*{userDataList[__${st.index}__].deleteDate}"> -->
<!--             </td>             -->
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</body>
</html>




