<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.example.demo.practice3.repository.UserInfoMapper">
	<select id="findAll" resultType="com.example.demo.practice3.entity.UserInfoEntity">
		SELECT * FROM userinfo WHERE delete_date IS NULL	
	</select>
	
	<insert id="save">
		INSERT INTO userInfo
			(name, address, phone, update_date, create_date)
		VALUES
			(#{name},#{address},#{phone},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
	</insert>
	
    <select id="search" resultType="com.example.demo.practice3.entity.UserInfoEntity">
        SELECT
            *
        FROM
            userinfo
        WHERE
            delete_date IS NULL
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
    </select>
	
	<update id="delete">
		UPDATE userinfo SET delete_date = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>
	                                 
	<select id="findById" resultType="com.example.demo.practice3.entity.UserInfoEntity">
		SELECT * FROM userinfo WHERE id=#{id} AND delete_date IS NULL
	</select>
	
	<update id="update">
		 UPDATE userinfo SET name = #{name}, address = #{address}, phone = #{phone}, update_date = CURRENT_TIMESTAMP WHERE id = #{id} 
	</update>


</mapper>	

        
 